@use "../../../styles/base" as *;

.signin {
  @include flex(stretch, stretch, row);

  & {
    min-height: 100vh;
    width: 100%;
  }

  &__form {
    @include flex(center, center, row);

    & {
      width: 40%;
      background-color: $c-primary-lightest;
    }

    form {
      @include flex(flex-start, flex-start, column, $spacing-regular-sm);

      & {
        width: 100%;
        height: fit-content;
        max-width: 450px;
        padding: $spacing-xl;
        border-radius: $border-radius-lg;
      }

      h2 {
        @include title(
          $fs-xl,
          $fw-medium,
          normal,
          normal,
          $color: $c-grey-darker
        );

        & {
          @include flex(center, center, row, $spacing-sm);

          width: 100%;
          text-align: center;
          padding-bottom: $spacing-regular;
        }
      }
    }

    &__field {
      width: 100%;

      &__input {
        width: 100%;
      }
    }

    &__remember {
      @include flex(flex-start, center, row, $spacing-sm);
      width: 100%;
      margin-top: $spacing-md;
      margin-bottom: $spacing-sm;
      margin-left: $spacing-xs;

      .checkbox {
        border-radius: $border-radius-sm !important;
        width: 1.25rem !important;
        height: 1.25rem !important;
      }

      &__label {
        @include text(
          $fs-regular-sm,
          $fw-semibold,
          normal,
          normal,
          $color: $c-grey
        );
        cursor: pointer;
        user-select: none;
      }
    }

    &__submit {
      width: 100%;
    }
  }

  &__presentation {
    @include flex(center, center, row);

    & {
      width: 60%;
      background-color: $c-primary-darkest;
    }

    &__title {
      @include flex(center, center, row, $spacing-sm);

      & {
        @include title(
          $fs-xl,
          $fw-bold,
          normal,
          normal,
          $color: $c-primary-lightest
        );
        margin-bottom: $spacing-sm;
      }
    }
  }
}
