@use "../../../../styles/base/variables" as *;
@use "../../../../styles/base/mixins" as *;
@use "sass:color";

.password-input {
  position: relative;
  width: 100%;

  &__toggle {
    position: absolute;
    right: $spacing-md;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: $spacing-xs;
    border-radius: $border-radius-sm;
    transition: background-color 0.2s $ease-out;

    &:hover {
      background-color: color.change($c-grey-light, $alpha: 0.3);
    }

    &__icon {
      color: $c-grey;
    }
  }

  .input {
    padding-right: calc($spacing-md + 20px + $spacing-sm);
  }
}
