@use "../../../styles/base" as *;

.settings {
  @include flex(flex-start, center, column);

  & {
    min-height: 100vh;
    width: 100%;
  }

  &__container {
    width: 100%;
    max-width: 100%;
  }
}
