@use "../../../../styles/base/mixins" as *;
@use "../../../../styles/base/variables" as *;

.image-page {
  width: 100%;
}

.image-page__container {
  padding: $spacing-xl $spacing-regular-sm;

  @media (max-width: $bkp-m) {
    padding-top: 0;
  }
}
