@use "../../../../styles/base" as *;

.no-registry-empty-state {
  @include flex(center, center, column, $spacing-lg);

  & {
    width: 100%;
    height: 100%;
  }

  &__dialog {
    padding: $spacing-xl !important;

    .dialog__footer {
      padding-top: $spacing-sm;
    }
    .dialog__footer,
    .button {
      width: 100%;
    }
  }
}
