@use "../../../../styles/base/variables" as *;
@use "../../../../styles/base/mixins" as *;

.app-sidebar {
  $self: &;

  & {
    height: 100vh;
    overflow: hidden;
  }

  &__actions {
    opacity: 0;
    transition: opacity 0.2s $ease-in-out;

    &,
    * {
      cursor: pointer;
    }

    svg {
      vertical-align: middle;
    }

    @media (max-width: $bkp-l) {
      display: none;
    }
  }

  &__menu-item:hover &__actions {
    opacity: 1;
  }

  &__retry-button {
    @include flex(center, center, row);

    & {
      width: 2rem;
      height: 2rem;
      background-color: transparent;
      border: 1px solid $c-grey-light;
      border-radius: $border-radius-sm;
      color: $c-grey-dark;
      cursor: pointer;
      transition: all 0.2s $ease-in-out;
      font-size: $fs-sm;

      &:hover {
        background-color: $c-grey-lighter;
        color: $c-black;
        border-color: $c-grey;
      }

      &:focus {
        outline: none;
        background-color: $c-grey-lighter;
        color: $c-black;
        border-color: $c-primary;
      }
    }
  }

  &__error {
    @include flex(flex-start, flex-start, column, $spacing-sm);

    & {
      padding: $spacing-md;
      color: $c-danger;
      font-size: $fs-sm;
    }

    p {
      margin: 0;
      line-height: 1.4;
    }
  }

  &__bottom {
    margin-top: auto;
    padding-top: $spacing-md;
    width: 100%;

    .sidebar__menu {
      @include flex(center, center, column, $spacing-xs);
      align-items: center;
      width: 100%;
    }

    .sidebar__menu__item {
      @include flex(center, center, row, $spacing-sm);

      & {
        justify-content: center;
        width: 100%;
        min-width: fit-content;
        padding: $spacing-regular-sm $spacing-md;
      }

      a {
        @include flex(center, center, row, $spacing-sm);
        justify-content: center;
        width: 100%;

        span {
          text-align: center;
        }
      }
    }

    .sidebar__menu__button {
      @include flex(center, center, row, $spacing-sm);
      width: auto;
      justify-content: center;
    }
  }

  &.sidebar--collapsed {
    #{$self}__actions {
      display: none;
    }

    #{$self}__bottom {
      .sidebar__menu__button {
        justify-content: center;
      }
    }
  }
}
