@use "../../../../styles/base" as *;

.registry-add-form {
  @include flex(flex-start, flex-start, column, $spacing-regular);

  &__field {
    @include flex(flex-start, flex-start, column, $spacing-xs);

    & {
      width: 100%;
    }

    .input {
      background-color: $c-grey-lighter;
    }
  }

  &__label {
    @include text(
      $fs-regular-sm,
      $fw-medium,
      normal,
      normal,
      $color: $c-grey-darker
    );
  }

  &__button__icon {
    margin-right: $spacing-xs;
  }
}
