@use "../../../styles/base" as *;

.dashboard {
  @include flex(flex-start, flex-start, row, $spacing-lg);

  & {
    width: 100%;
  }

  &--empty {
    width: 100%;
    height: 100%;
  }

  &__card {
    height: 550px;
    min-width: 500px;
    max-width: 600px;
    padding: $spacing-xl;

    & {
      @media (max-width: $bkp-m) {
        height: 100%;
        min-width: 100%;
        max-width: 100%;
        padding: $spacing-lg;
      }
    }

    &__header {
      text-align: center;
    }

    &__content {
      @include flex(flex-start, flex-start, column, $spacing-sm);

      & {
        width: 100%;
      }

      &__image {
        @include flex(space-between, center, row, $spacing-sm);

        & {
          width: 100%;
        }

        &__date {
          @include text($fs-regular-sm, $color: $c-grey);
        }
      }

      &__empty {
        @include flex(center, center, column, $spacing-sm);

        & {
          padding: $spacing-lg;
          text-align: center;
        }

        p {
          @include text($fs-regular, $color: $c-grey);

          & {
            margin: 0;
          }
        }
      }
    }
  }

  &__chart {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1;
    margin: 0 auto;

    &__total {
      @include title(h2);

      & {
        fill: $c-grey-darker;
        font-weight: $fw-bold;
      }
    }

    &__label {
      @include text(small);

      & {
        fill: $c-grey;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
