@use "../../../../styles/base/mixins" as *;
@use "../../../../styles/base/variables" as *;
@use "../../../../styles/base/keyframes" as *;

.users-table {
  $self: &;

  &__table-wrapper {
    width: 100%;
    max-width: 90%;
    max-height: 50vh;
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    @media (max-width: $bkp-m) {
      max-width: 90vw;
      max-height: 50vh;
    }
  }

  &__table {
    .table__header__cell {
      font-weight: $fw-medium;
      color: $c-grey-dark;
      text-align: center !important;

      &,
      * {
        text-align: center !important;
      }

      & > * {
        margin-left: auto !important;
        margin-right: auto !important;
      }
    }

    .table__body__cell {
      vertical-align: middle;
      text-align: center !important;

      &,
      * {
        text-align: center !important;
      }

      & > * {
        margin-left: auto !important;
        margin-right: auto !important;
      }
    }
  }

  &__sort-button {
    padding-top: $spacing-sm;
    padding-bottom: $spacing-sm;
    justify-content: center;
  }

  &__header__icon {
    color: $c-grey;
  }

  &__sort-icon {
    &,
    * {
      color: $c-grey;
    }
    margin-left: $spacing-xxs;
  }

  &__actions {
    @include flex(center, center, row, $spacing-sm);

    &__button {
      padding: $spacing-sm;
    }
  }

  &__role {
    padding: $spacing-xs $spacing-sm;
    border-radius: $border-radius-regular;
    font-size: $fs-sm;
    font-weight: $fw-semibold;
    text-transform: capitalize;

    &--admin {
      background-color: rgba($c-primary, 0.12);
      color: $c-primary-darker;
    }

    &--user {
      background-color: rgba($c-grey, 0.12);
      color: $c-grey-dark;
    }
  }

  &__create-row {
    margin: $spacing-sm 0;

    &,
    * {
      fill: $c-grey;
      color: $c-grey;
    }
  }

  &__dialog {
    max-width: 32rem;

    .dialog__footer {
      margin-top: $spacing-regular;

      .button {
        width: 50%;
      }
    }
  }

  &__delete-dialog {
    max-width: 32rem;

    &__icon {
      margin-right: $spacing-xs;

      &--spinning {
        animation: spin 0.75s linear infinite;
      }
    }
  }
}
