@use "../../../../styles/base" as *;

.settings-form {
  width: 100%;

  &__section {
    @include flex(flex-start, flex-start, column, $spacing-xl);
    width: 100%;
    padding: $spacing-xl;
    border: 1px solid rgba($c-grey, 0.2);
    border-radius: $border-radius-regular;
    background-color: $c-white;
    box-shadow: $box-shadow-classic;

    &__subsection {
      @include flex(flex-start, flex-start, column, $spacing-md);
      width: 100%;

      &:not(:last-child) {
        padding-bottom: $spacing-xl;
        border-bottom: 1px solid rgba($c-grey, 0.2);
      }

      &__title {
        @include title($fs-lg, $fw-semibold, normal, normal);

        & {
          display: flex;
          align-items: center;
          gap: $spacing-sm;
          margin-bottom: $spacing-sm;
        }
      }

      &__title__icon {
        color: $c-black;
      }

      &__form {
        @include flex(flex-start, flex-start, column, $spacing-regular);
        width: 100%;

        &__field {
          @include flex(flex-start, flex-start, column, $spacing-xs);

          & {
            width: 100%;
          }

          .input,
          .password-input .input {
            background-color: $c-grey-lighter;
          }
        }

        &__field__label {
          @include text(
            $fs-regular-sm,
            $fw-medium,
            normal,
            normal,
            $color: $c-grey-darker
          );
        }
      }
    }
  }

  &__button-icon {
    margin-right: $spacing-xs;
  }
}
