@use "../../../styles/base" as *;
@use "sass:color";

.signup {
  @include flex(stretch, stretch, row);

  & {
    min-height: 100vh;
    width: 100%;
  }

  &__form {
    @include flex(center, center, row);

    & {
      width: 40%;
      background-color: $c-primary-lightest;
    }

    form {
      @include flex(flex-start, flex-start, column, $spacing-regular-sm);

      & {
        width: 100%;
        height: fit-content;
        max-width: 450px;
        padding: $spacing-xl;
        border-radius: $border-radius-lg;
      }

      h2 {
        @include title(
          $fs-xl,
          $fw-medium,
          normal,
          normal,
          $color: $c-grey-darker
        );

        & {
          @include flex(center, center, row, $spacing-sm);

          width: 100%;
          text-align: center;
          padding-bottom: $spacing-regular;
        }
      }
    }

    &__error {
      width: 100%;
      padding: $spacing-sm $spacing-md;
      background-color: color.change($c-danger, $alpha: 0.1);
      border: 1px solid color.change($c-danger, $alpha: 0.3);
      border-radius: $border-radius-sm;
      color: $c-danger;
      font-size: $fs-sm;
      margin-bottom: $spacing-sm;
    }

    &__field {
      width: 100%;

      &__input {
        width: 100%;
      }
    }

    &__submit {
      width: 100%;
      margin-top: $spacing-md;
    }
  }

  &__presentation {
    @include flex(center, center, row);

    & {
      width: 60%;
      background-color: $c-primary-darkest;
    }

    &__title {
      @include flex(center, center, row, $spacing-sm);

      & {
        @include title(
          $fs-xl,
          $fw-bold,
          normal,
          normal,
          $color: $c-primary-lightest
        );
        margin-bottom: $spacing-sm;
      }
    }
  }
}
